* {
    box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  font-family: "Poiret+One", sans-serif;
}

/* Style the headers */
.header {
    background-color: #49958e;
    padding: 48px;
    text-align: center;
    font-family: "Megrim", sans-serif;
}

.reservations {
    padding: 20px;
    text-align: center;
}
.reviews {
    padding: 20px;
    text-align: center;
}

.top,.bottom{
	position:fixed;
	width:100%;
	z-index:1}
	.top{
		top:0
	}
		.bottom{
			bottom:0
		}

.topbar{
	border-top:6px solid #ccc!important
}
.col,.half,.third,.twothird,.threequarter,.quarter{
	float:left;width:100%
}

/* General Styling */
.padding-48{
	padding-top:48px!important;
	padding-bottom:48px!important
}
.padding-16{
	padding-top:16px!important;
	padding-bottom:16px!important
}

.border{
	border:1px solid #ccc!important
}

.black,.hover-black:hover{
	color:#fff!important;
	background-color:#000!important
}

.center{
	text-align:center!important
}

/* Create the reservation area*/
.column {
    float: left;
    width: 50%;
    padding: 15px;
    text-align: center;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width:600px) {
    .column {
        width: 100%;
    }
}

.block{
	display:block;
	width:100%
}

.col.s3{
	width:24.99999%
}

.padding{
	padding:8px 16px!important
}

.image{
	max-width:100%;
	height:auto
	}img{
		margin-bottom:-5px
		}a{
			color:inherit
		}


.button{
	border:none;
	display:inline-block;
	outline:0;
	padding:8px 16px;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	color:inherit;
	background-color:inherit;
	text-align:center;
	cursor:pointer;
	white-space:nowrap
}

.input{
	padding:8px;
	display:block;
	border:none;
	border-bottom:1px solid #ccc;
	width:100%
}


.table{
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
	display:table
}

.striped tbody tr:nth-child(even){
	background-color:#f1f1f1
}

.dark-grey,.hover-dark-grey:hover,.dark-gray,.hover-dark-gray:hover{
	color:#fff!important;
	background-color:#616161!important
}

.container,.panel{
	padding:0.01em 16px
}

.content{
	max-width:980px;
	margin:auto
}

.tag{
	background-color:#000;
	color:#fff;
	display:inline-block;
	padding-left:8px;
	padding-right:8px;
	text-align:center
}

.wide{
	letter-spacing:4px
}

.sepia{
	filter:sepia(75%)
}



